body {
    background-color: #121212;
    color: white;
}

.banner {
    background-color: #181818;
}

.btn-spotify {
    background-color: #1DB954;
    color: black;
    border: none;
}

.btn-spotify:hover {
    background-color: #1ed760;
}

.album-card,
.music-card {
    background-color: #181818;
    border: none;
    transition: 0.2s;
}

.album-card:hover,
.music-card:hover {
    background-color: #282828;
    transform: scale(1.03);
}

small {
    color: #aaa;
}

a {
    text-decoration: none;
}

.search-box {
    max-width: 400px;
    width: 100%;
}

.search-box input::placeholder {
    color: #aaa;
}